<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let user">{{user.id}}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td data-role="user-table-email" mat-cell *matCellDef="let user">{{user.email}}</td>
  </ng-container>

  <ng-container matColumnDef="disabled">
    <th mat-header-cell *matHeaderCellDef>Disabled</th>
    <td mat-cell *matCellDef="let user">{{user.disabled}}</td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef>Created at</th>
    <td mat-cell *matCellDef="let user">{{user.createdAt | date:'medium'}}</td>
  </ng-container>

  <ng-container matColumnDef="resumeDate">
    <th mat-header-cell *matHeaderCellDef>Resume date</th>
    <td mat-cell *matCellDef="let user">{{user.resumeDate}}</td>
  </ng-container>

  <ng-container matColumnDef="registrationCompleted">
    <th mat-header-cell *matHeaderCellDef>Registration completed</th>
    <td mat-cell *matCellDef="let user">{{user.registrationCompleted}}</td>
  </ng-container>

  <ng-container matColumnDef="passwordResetInitiated">
    <th mat-header-cell *matHeaderCellDef>Password reset initiated</th>
    <td mat-cell *matCellDef="let user">{{user.passwordResetInitiated}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  <mat-paginator [pageSizeOptions]="[10, 20]"
                 [length]="total"
                 (page)="onChangePage($event)"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
