<div class="items-container">
  <ng-container *ngFor="let item of items">
    <div class="button-container">
      <button mat-fab color="primary" [routerLink]="item.routerLink" title="{{item.label}}">
        <mat-icon>{{item.icon}}</mat-icon>
      </button>
      <div class="label">{{item.label}}</div>
    </div>
  </ng-container>
</div>


