.button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 120px;
  margin-top: 20px;
  text-align: center;
}

.items-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.label {
  margin-top: 8px;
}
