<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card i18n>
    <mat-card-header>
      <mat-card-title>
        Authentication
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input data-role="email" matInput formControlName="email">
        </mat-form-field>
      </p>
      <mat-list-item>
        <p>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input data-role="password"  matInput type="password" formControlName="password">
          </mat-form-field>
        </p>
      </mat-list-item>

    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions>
        <button data-role="submit" mat-stroked-button type="submit" [disabled]="!form.valid">Submit</button>
      </mat-card-actions>
    </mat-card-footer>

  </mat-card>
</form>
