<mat-toolbar>

  <button data-role="home" (click)="goToMain()" mat-mini-fab color="primary">
    <mat-icon>home</mat-icon>
  </button>
  &nbsp; <span data-role="page-title">{{title}}<ng-container *ngIf="subtitle"> / {{subtitle}}</ng-container></span>
  <span class="spacer"></span>
  <ng-container *ngIf="me">
    <mat-icon>person</mat-icon>
    &nbsp;<span data-role="me">{{me.email}}</span> &nbsp;
    <button data-role="log-out" (click)="logout()" mat-mini-fab title="Log out">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </ng-container>

</mat-toolbar>
